---
interface Props {
  text: string;
  text2?: string;
  subtitle?: string;
}

const { text, text2, subtitle } = Astro.props;
---

<section class="phrase">
  <h3 class="title">{text}</h3>
  <h3 class="title">{text2}</h3>
  <p class="subtitle">{subtitle}</p>
</section>

<style>
  .phrase {
    margin: 3rem 0;
  }
  .title {
    color: #e2e2e233;
    font-size: 2.3rem;
    line-height: 3rem;
    letter-spacing: -2px;
    margin: 0;
  }
  .subtitle {
    color: #fff;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: -1px;
  }
</style>
